.ipynb_checkpoints/
simple_mobilenet
Tensorflow/workspace/images
# Tensorflow/workspace/pre-trained-models/ssd_mobilenet_v2_fpnlite_320x320_coco17_tpu-8
# Tensorflow/workspace/pre-trained-models/ssd_inception_v2_coco_2017_11_17.tar.gz
# Tensorflow/workspace/pre-trained-models/ssd_mobilenet_v1_coco_11_06_2017.tar.gz
Tensorflow/workspace/pre-trained-models/
Tensorflow/workspace/models/
Tensorflow/workspace/models/ssd_inception_carnd_tl
Tensorflow/workspace/models/ssd_mobilenet_carnd_tl/*
!Tensorflow/workspace/models/ssd_mobilenet_carnd_tl/pipeline.config
label.txt
Tensorflow/workspace/Colab_models/faster_rcnn_inception_carnd_tl/*
!Tensorflow/workspace/Colab_models/faster_rcnn_inception_carnd_tl/frozen_inference_graph.pb
Tensorflow/workspace/Colab_models/ssd_inception_carnd_tl
Tensorflow/workspace/Colab_models/ssd_mobilenet_carnd_tl/ssd_mobilenet_v1_240
Tensorflow/workspace/Colab_models/ssd_mobilenet_carnd_tl/ssd_mobilenet_v1_300/*
!Tensorflow/workspace/Colab_models/ssd_mobilenet_carnd_tl/ssd_mobilenet_v1_300/frozen_inference_graph.pb
*.ini
Tensorflow/workspace/annotations/*
!Tensorflow/workspace/annotations/label_map.pbtxt
# results/desktop.ini